<!-- views/partials/footer.ejs -->
<footer>
    <span>Written by Maitreyi Sinha under the supervision of <a href="mailto"whayes@uci.edu">Wayne B. Hayes</a> at U.C. Irvine</span><br>
    <span>SANA Web interface</span><br>
    <span>Current developer: <a href="mailto:maitres@uci.edu">Maitreyi Sinha</a></span><br>
    <span>Please contact the current developer above and/or Wayne B. Hayes for questions, comments, or bugs.</span>
    <p>&copy; 2024 SANA Interface. All rights reserved.</p>
</footer>
