<!-- views/partials/header.ejs -->
<header>
    <h1>SANA Web Interface</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/submit">Submit New Job</a></li>
            <li><a href="/lookup">Look up Previous Job</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/about">About Us</a></li>
        </ul>
    </nav>
</header>
