<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SANA Web Interface</title>
    
</head>
<body>
    <%- include('./partials/header.ejs') -%> <!-- Include the header -->
    
    <main>
        <h2>Welcome to the SANA Project</h2>
        <p>Your content goes here...</p>
    </main>
    
    <%- include('./partials/footer.ejs') -%> <!-- Include the footer -->
</body>
</html>
